{{> navlogin}}

<div class="userdetailseditablecontainer">
    <div class="editablebox_user">
        
        <form>
        <div class="editablerow_username">
            <span id="editlabel">Game Title:</span>
            <span id="edittextfieldcontainer"><input type="text" id="change_gamename" name="change_gamename"></span>
        </div>
        <div class="editablerow_photo">
            <span id="editlabel">Game Image:</span>
            <span id="edittextfieldcontainer"><input type="text" id="change_gamephoto" name="change_gamephoto"></span>
        </div>
        <div class="editablerow_desc">
            <span id="editlabel">Game Desc:</span>
            <span id="edittextfieldcontainer"><textarea id="change_gamedesc" name="change_gamedesc"></textarea>
        </div>
    </div>


    <div class="savegamebuttoncontainer">
    <span id="savegamebutton">Save Game</span>
    </form>
    <span id="deletegamebutton">Delete Game</span>
    </div>
</div>