{{#if login}}
    {{> navlogin}}
{{else}}
    {{> nav}}
{{/if}}

<!--main page where the capybara drawing is-->
<div class="bodycontainer">
        <div class="bodyparent">
            <div class="ad1">
                <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihZyqUVkJtLRbaWseHvGJeRzWvnbJzidrGwXiOTHgdKb6R5twPv9SaJp0ciLUgQ2YcyJNJ-mU3sPg8dlcgjMFAc8TDLZFw=s1600-v0" id="ad1image">
            </div>
            <div class="adrightcontainer">
                <div class="ad2" onclick = "viewGameDevs();">
                        <button class="ad2imageholder">
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihb8Hr0Sh-7stYJJ5aE2RKl10vBESUzJmtYnStaru2HerOt2bfHXlbgdsoyaLRSW-ZYe9lG_84QdSwIKEmGE1roZEbgT=s1600" id="ad2image"/>
                        </button>
                </div>
                <!-- WILL ONLY HAVE ENOUGH ROOM FOR 6 IMAGES ONLY (WITH THE LAST IMAGE BEING THE SAME AS THE FIRST -THIS IS A MUST!!), THESE IMAGES MUST HAVE UNIFORM SIZES OF 1200x675-->
                <div class="ad3" onclick="viewGames();">
                    <div class="ad3wrapper">
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihZxu4f5KDDYnFsje5Em7QQxemaG_P3UVRd9d7d8DkgJKJ6XOMY1irMTEInPSXyGPIKrvPhpTt7dBbGsph238HEA5yjI-g=s1600-v0" id="ad3image"/>
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpiha-upTtkuSaKOXgfRb2U_t12b2u13YI8qsX1RwjI51yKahlT87eNZbpo0K5_hePwR7atR3hKmizD0uxtgJIhnFWF8Cc=s1600-v0" id="ad3image"/>
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihZm0e0fc0QOvk6_-j33BCiXu_tnXr4A4tOi-DcobWDRRsCaID5Z8URtI09ZKmUGZCd1n_A4sj3LENxeyYsTl6HxConrrA=s1600-v0" id="ad3image"/>
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihYswDdG-ProY4JpGKmQuECH00YBrjivzFK3W4HZTUN7SPoocgqN8awodZwd_gb_AYGSJsX_FoBAn7vxjWjkMXsdUZww=s1600-v0" id="ad3image"/>
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihbvysVFG17rUdlgxLzOXx5o-0QC5g4Y8u-r0uWGGMU3kF3Pw8XCgIBupG3SuekIpK2vqOf64-oSJp4oaklV61clvGbl_A=s1600-v0" id="ad3image"/>
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihZxu4f5KDDYnFsje5Em7QQxemaG_P3UVRd9d7d8DkgJKJ6XOMY1irMTEInPSXyGPIKrvPhpTt7dBbGsph238HEA5yjI-g=s1600-v0" id="ad3image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>